<!-- FOOTER START -->
  <div class="footer-top">
    <div class="container">
      <div class="footer-icon"></div>
      <h1 class="white upper title-bg-footer"><span class="title-footer title-left">Postavite sliku kade</span></h1>
      <div class="row-fluid">
        <div class="span6">
          <ul class="steps unstyled">
            <li class="append-bottom">
              <div class="row-fluid">
                <div class="span3">
                  <p class="text-center white"><i class="icon-upload-alt icon-4x"></i></p>
                </div>
                <div class="span9">
                  <h1 class="bold white align-switch">1. korak</h1>
                  <p class="align-switch white"><span>Postavite sliku kade putem forme za upload</span></p>
                </div>
              </div>
            </li>
            <li class="append-bottom">
              <div class="row-fluid">
                <div class="span3">
                  <p class="text-center white"><i class="icon-picture icon-4x"></i></p>
                </div>
                <div class="span9">
                  <h1 class="bold white align-switch">2. korak</h1>
                  <p class="align-switch white"><span>Nakon što se slika kade prihvati, pojaviti će se u gornjem rotatoru slika.</span></p>
                </div>
              </div>
            </li>
            <li class="append-bottom">
              <div class="row-fluid">
                <div class="span3">
                  <p class="text-center white"><i class="icon-location-arrow icon-4x"></i></p>
                </div>
                <div class="span9">
                  <h1 class="bold white align-switch">3. korak</h1>
                  <p class="align-switch white"><span>Slika kade se tada može poslati na email upisan u polje za unos.</span></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="span6">
          <div id="upload-wrapper">
            <form id="upload-form" action="" class="upload-form form-horizontal">
              <fieldset>
                <legend class="white upper">Upload kada</legend>
                <div class="control-group">
                  <label class="control-label">Odaberi kadu</label>
                  <div class="controls">
                    <input type="file" title="Odaberi sliku">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Kratki opis kade</label>
                  <div class="controls">
                    <textarea rows="3"></textarea>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-success">Postavi kadu</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="text-center muted">© Element d.o.o. 2013.  Sva prava pridržana.</p>
    </div>
  </div>
<!-- FOOTER END -->
