<!--  HEADER START -->
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <p class="align-switch">
          <a href="#" class="logo">
            <img src="img/logo.png" alt="EmajliramoKade logo">
          </a>
        </p>
      </div>
      <div class="span6">
        <div class="row-fluid">
          <div class="span6">
            <ul class="social-icons inline">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="span6">
            <a href="#upload-wrapper" class="call-to-action-btn btn-block pull-right">Postavite sliku kade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- HEADER END -->
